body
{
  background-color:#1826FA;
}

#wrapper
{
  width:70%;
  background-color:#1826FA;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

#logo
{
  height:200px;
  border: 4px groove #282828;
  background-color:#FFFFFF;
}

img.logo_pic
{
  display:block;
  height:200px;
  margin-left: auto;
  margin-right: auto;
}

#nav
{
  height:50px;
  background-color:#1826FA;
}

#content
{
  height:800px;
  margin: 0 auto;
  border: 4px groove #282828;
  background-color:#FFFFFF;
}

#poster
{
  width:60%;
  height:600px;
  border: 2px solid #000000;
  margin: 0 auto;
  margin-top: 60px;
}


