body
{
  background-color:#1826FA;
}

#wrapper
{
  width:800px;
  height:1025px;
  background-color:#FFFFFF;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

#logo
{
  height:200px;
}

#nav
{
  height:50px;
  background-color:#1826FA;
}

#poster
{
  width:600px;
  height:600px;
  border: 2px solid #000000;
  margin: 0 auto;
  margin-top: 60px;
}
