body
{
  background-color:#1826FA;
}

#wrapper
{
  width:70%;
  background-color:#FFFFFF;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

#logo
{
  height:200px;
  border: 4px groove #282828;
}

#nav
{
  height:50px;
  background-color:#1826FA;
}

#content
{
  height:800px;
  margin: 0 auto;
  border: 4px groove #282828;
}

#poster
{
  width:60%;
  height:600px;
  border: 2px solid #000000;
  margin: 0 auto;
  margin-top: 60px;
}
