#wrapper
{
  width:800px;
  height:1025px;
  border:5px solid #000000;
  background-color:#000000;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

#header
{
  height:200px;
  border-bottom:2px solid #000000;
  text-align: center;
}

#name
{
  height:180px;
  width:750px;
  margin: 0 auto;
  background-color:#FFFF00;
  text-align: center;
}

#name h1
{
  font-size: 450%;
}


#logo
{
  height:125px;
  width:300px;
  border: 2px solid #000000;
  margin: 0 auto;
  margin-top: 10px;
}

#nav
{
  height:50px;
  border-bottom:2px solid #000000;
  text-align: center;
}

#nav ul li
{
  font-size: 200%;
  list-style: none;
  display:inline;
  margin-right: 40px;
  margin-left: 20px;
}

#content
{
  text-align: center;
  background-color:#FFFF00;
  width:750px;
  height:400px;
  margin: 0 auto;
}

#show_photos
{
  height:500px;
  width:400px;
  border: 2px solid #000000;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

#content h2
{
  font-size: 170%;
  margin: 2px;
}


