a:link
{
  color:#191970;
  text-decoration:none;
}

a:visited
{
  color:#660198;
}

a:hover
{
  text-decoration:underline;
}

body
{
  background-color:#888888;
}
#wrapper
{
  width:800px;
  height:710px;
  border:5px solid #000000;
  background-color:#202020;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

#name
{
  border:5px solid #000000;
  height:150px;
  width:725px;
  margin: 0 auto;
  background-color:#FFD700;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

#name h1
{
  font-size: 400%;
}

#content
{
  text-align: center;
  border:5px solid #000000;
  background-color:#FFD700;
  width:725px;
  height:420px;
  margin: 0 auto;
}

#content h1
{
  font-size: 350%;
}

#text
{
  text-align: center;
  width:550px;
  height:400px;
  margin: 0 auto;
}

