body
{
  background-color:#888888;
}
#wrapper
{
  width:800px;
  height:800px;
  border:5px solid #000000;
  background-color:#202020;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

#header
{
  height:200px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

#name
{
  height:180px;
  width:725px;
  margin: 0 auto;
  background-color:#FFFF00;
  text-align: center;
}

#name h1
{
  font-size: 450%;
}

#content
{
  text-align: center;
  background-color:#FFFF00;
  width:725px;
  height:460px;
  margin: 0 auto;
  padding-top: 10px;
}


